.chart-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 10px; 
    width: 100%;
    max-width: 100vw;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 15px;
    border: none;
}

.chart-container {
    width: 100%;
    height: auto; 
    text-align: center;
}

svg {
    width: 100%; 
    height: auto;
    max-height: 250px;
}
