.prechat-form {
    text-align: center;
    padding: 20px;
    max-width: 400px;
    margin: 0 auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    background-color: #ffffff;
}

.prechat-form h2 {
    color: #333333;
    text-align: center;
    margin-bottom: 2rem;
}

.input-group {
    margin-bottom: 10px;

}

.input-group label {
    display: block;
    text-align: left;
    margin-bottom: 5px;
    font-weight: bold;
}

.input-group input,
.input-group select,
.input-group textarea {
    width: 100%;
    padding: 0.8rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.input-group textarea {
    height: 100px; 
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    color: white;
    background-color: #5d4534;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    background-color: #0056b3;
}

.header-title {
    font-size: 20px; 
    text-align: center; 
    font-weight: bold; 
}
