.market-table {
    width: 600px;
    color: black;
    padding: 15px;
    font-family: Arial, sans-serif;
}

table {
    width: 100%;
    border-collapse: collapse;
}

.market-name {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    background: rgba(255, 255, 255, 0.1);
}

tr:nth-child(2) td {
    text-align: center;
    padding: 8px;
    font-size: 25px;
    font-weight: bold;
}

tr:nth-child(3) td {
    text-align: center;
    font-size: 14px;
    color: black;
}

.grade-a {
    color: rgb(0, 140, 255);
    font-size: 25px;
}

.grade-b { 
    color: #2ECC71;
    font-size: 25px;
}

.grade-c { 
    color: #FF8C00;
    font-size: 100px;
}

.grade-d { 
    color: #B22222;
    font-size: 25px;
}


