.knowledge-container {
    padding: 15px;
    background-color: white;
    border-radius: 20px;
    color: white;
    width: 100%;
}

.faq-question {
    cursor: pointer;
    padding: 12px;
    background-color: #5d4534;
    border-radius: 8px;
    font-weight: bold;
    color: white;
    display: flex;
    align-items: center;
    transition: background 0.3s ease-in-out;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    margin: 5px auto;
}

.faq-question:hover {
    background-color: #0070d2;
    color: white;
}

.question-label {
    color: yellow;
    font-weight: bold;
    margin-right: 10px;
}

.faq-answer-container {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: max-height 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.faq-answer-container.show {
    max-height: 500px;
    opacity: 1;
}

.faq-answer {
    padding: 12px;
    background-color: white;
    color: black;
    border-radius: 8px;
    border: 3px solid black; 
}

.faq-item{
    overflow-y: scroll;
}

.faq-item::-webkit-scrollbar {
    display: none; 
}

.answer-label-one {
    font-weight: bold;
    color: blue;
}

.answer-label-two {
    font-weight: bold;
    color: red;
}

.selected-product {
    font-size: 16px;
    color: black;
    text-align: left;
    font-weight: bold;
    margin-bottom: 10px;
}